<template>
  <div class="c-app">
    <Status
        class="c-app__row"
        :count="count"
        :checkedCount="checkedCount"
      />
      <ToDo
        class="c-app__row c-app__row_high"
        title="block"
        :items="list"
        @toggle-item="checkItem"
      />
      <Field
        class="c-app__row"
        v-model="newItem"
        @submit="addNewItem"
      />
  </div>
</template>

<script>
import ToDo from './ToDo/ToDo'
import Field from './ToDo/Field'
import Status from './ToDo/Status'

import { mapFields, mapMethods } from '@store'

// react and vue mobx Example
// https://codepen.io/lacedon/pen/jGZwbQ

export default {
  name: 'ToDoApp',
  components: {
    ToDo,
    Field,
    Status
  },
  fromMobx: {
    ...mapFields('toDoStore', ['count', 'checkedCount']),
    ...mapFields('toDoStore', {
      list: {
        get(store) {
          return store.list.toJS()
        }
      },
      newItem: {
        get: 'newItem',
        set: 'setNewItemValue'
      }
    })
  },
  methods: {
    ...mapMethods('toDoStore', ['checkItem', 'addNewItem'])
  }
}
</script>

<style lang="scss">
// $c-palette: #0a1829, #588e94, #7eaca9, #ccd9ce, #f6edd4;
$c-palette: #464547, #35485d, #41b882, #f5f5f5, #ffffff;

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: nth($c-palette, 5);

  @media (orientation: landscape) {
    flex-direction: row;
  }
}

.app-container {
  width: 90vw;
  height: 45vh;
  overflow: auto;

  @media (orientation: landscape) {
    width: 45vw;
    height: 90vh;
  }
}

.c-app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  color: nth($c-palette, 1);
  background: nth($c-palette, 5);

  &__title {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
  }

  &__row {
    margin: 0 0 0.75rem;

    &:last-child {
      margin-bottom: 0;
    }

    &_no-indents {
      margin: 0;
    }

    &_high {
      flex: 1;
    }
  }
}

.c-todo {
  padding: 0;
  overflow: auto;

  &__item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.c-todo-item {
  display: block;
  cursor: pointer;

  &__icon {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border: 1px solid nth($c-palette, 3);
    box-sizing: border-box;
    margin-right: 0.3rem;
    border-radius: 25%;
    color: nth($c-palette, 5);
    position: relative;
    transition: background 0.2s;
    vertical-align: middle;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      border-radius: 50%;
      background: transparent;
      transition: background 0.2s;
    }

    &:before {
      width: 80%;
      height: 30%;
    }

    &:after {
      width: 30%;
      height: 80%;
    }
  }

  &:hover &__icon {
    background: nth($c-palette, 4);

    &:before,
    &:after {
      background: nth($c-palette, 5);
    }
  }

  &__checker:checked ~ &__icon {
    background: nth($c-palette, 2);
    border-color: nth($c-palette, 2);

    &:before,
    &:after {
      background: nth($c-palette, 5);
    }
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
  }

  &__checker:checked ~ &__label {
    color: rgba(nth($c-palette, 1), 0.5);
  }

  &__checker {
    display: none;
  }
}

.c-todo-status {
  position: relative;
  padding: 0.3rem 0.75rem;
  background: nth($c-palette, 3);
  color: nth($c-palette, 5);

  &__title {
    display: inline-block;
    font-weight: bold;
    position: relative;
    z-index: 2;

    &:after {
      content: ':';
    }
  }

  &__value {
    display: inline-block;
    margin-left: 0.3rem;
    position: relative;
    z-index: 2;
  }

  &__progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: nth($c-palette, 2);
    transition: width 0.3s;
  }
}

.c-todo-field {
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  &__input {
    display: inline-block;
    outline: 0;
    border: 0;
    color: nth($c-palette, 1);
    background: nth($c-palette, 4);
    padding: 0.3rem 0.75rem;
    flex: 2;
    min-width: 0;
    text-overflow: ellipsis;

    @include placeholder {
      color: rgba(nth($c-palette, 1), 0.5);
      text-overflow: ellipsis;
    }

    &:focus {
      box-shadow: 0 0 2px nth($c-palette, 2) inset;
    }
  }

  &__submit {
    display: inline-block;
    border: 0;
    background: nth($c-palette, 3);
    color: nth($c-palette, 5);
    padding: 0.3rem 0.75rem;
    cursor: pointer;

    &:hover {
      background: nth($c-palette, 2);
    }
  }
}
</style>
