<template>
  <div class="c-todo-field">
    <input
      class="c-todo-field__input"
      placeholder="Input new item's name"
      :value="value"
      @input="inputValue"
    />
    <input
      class="c-todo-field__submit"
      type="button"
      value="Add"
      @click="submit"
    />
  </div>
</template>

<script>
export default {
  name: 'Field',
  props: {
    value: { type: String, required: true }
  },
  methods: {
    inputValue(event) {
      this.$emit('input', event.target.value);
    },
    submit() {
      this.$emit('submit');
    }
  }
}
</script>

<style>

</style>
