<template>
  <label class="c-todo-item">
    <input
      class="c-todo-item__checker"
      type="checkbox"
      :checked="checked"
      @change="checkItem"
    />
    <span class="c-todo-item__icon"></span>
    <span class="c-todo-item__label">{{ name }}</span>
  </label>
</template>

<script>
export default {
  name: 'Item',
  props: {
    name: { type: String, required: true },
    checked: { type: Boolean, default: false },
  },
  methods: {
    checkItem() {
      this.$emit('checked');
    }
  }
}
</script>

<style>

</style>
