<template>
  <div class="c-todo-status">
    <div class="c-todo-status__title">Done</div>
    <div class="c-todo-status__value">{{ checkedCount }}/{{ count }}</div>
    <div class="c-todo-status__progress" :style="progressStyles"></div>
  </div>
</template>

<script>
export default {
  name: 'Status',
  props: {
    count: { type: Number, required: true },
    checkedCount: { type: Number, required: true }
  },
  computed: {
    progressPersent() {
      return (100 * this.checkedCount / this.count) || 0;
    },
    progressStyles() {
      return {
        width: `${this.progressPersent}%`
      };
    }
  }
}
</script>

<style>

</style>
