<template>
  <ul class="c-todo">
    <li class="c-todo__item" :key="item.id" v-for="item of items">
      <Item
        :name="item.name"
        :checked="item.checked"
        @checked="checkItem(item.id)"
      />
    </li>
  </ul>
</template>

<script>
import Item from './Item'

export default {
  name: 'ToDo',
  components: {
    Item
  },
  props: {
    items: { type: Array, required: true }
  },
  methods: {
    checkItem(id) {
      this.$emit('toggle-item', id);
    }
  }
}
</script>

<style>
ul {
  text-align: left;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
</style>
