<template>
  <div id="app">
    <img src="./assets/logo.png">
    <h1>{{ msg }} - ({{ checkedCount }}/{{ count }})</h1>
    <hr />

    <to-do />
  </div>
</template>

<script>
import ToDo from './modules/TodoApp'

import { mapFields } from '@store'


export default {
  name: 'App',
  components: {
    ToDo
  },
  fromMobx: {
    ...mapFields('toDoStore', ['count', 'checkedCount'])
  },
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
